
.wrapper {
  width: 346px;
  height: 468px;
  padding: 28px 31px;
  background: #13120E;
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;

  .top {

    h5 {
      margin: 0;
      font-family: 'DIN Pro regular', sans-serif;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #fff;
    }

    span {
      font-family: 'DIN Pro regular', sans-serif;
      font-size: 12px;
      line-height: 15px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .content {
    margin-top: 18px;
    padding: 14px 22px;
    background: #0E0D0A;
    border-radius: 20px;

  }
}