@import "/styles/mixins";

.container {
  margin: 6px auto 0;
  @include toCenterByFlex();
  width: 290px;

  @media screen and (max-width: 1300px) {
    margin: 3px auto 0;
  }

  .inner {
    width: 80%;
    height: 6px;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    background-color: rgba(255, 255, 255, 0.5);

    @media screen and (max-width: 1200px) {
      width: 70%;
    }
    .progressBar {
      position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      top: 0;
      bottom: 0;
      right: 100%;
      transform: translateX(0%);
      border-radius: inherit;
      background: white;
      @include toCenterByFlex();
      color: white;
      font-family: sans-serif;

    }
  }
}