@font-face {
  font-family: 'DIN Pro black';
  src: url('../assets/fonts/din-pro-black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro regular';
  src: url('../assets/fonts/din-pro-regular.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro bold';
  src: url('../assets/fonts/din-pro-bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'DIN Pro medium';
  src: url('../assets/fonts/din-pro-condensed-medium.ttf');
  font-weight: 500;
  font-style: normal;
}