html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background-color: #ffffff;
  opacity: 1;

}

.simplebar-track .simplebar-vertical .simplebar-scrollbar {
  right: -10px;
}


.simplebar-track.simplebar-vertical{
  right: -2px;
}
