.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: #ffffff;
    opacity: 1;

}
.simplebar-track.simplebar-vertical{
    right: -40px;
    width: 7px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 48px;
}
.simplebar-wrapper{
    width: 290px;
}
.simplebar-mask{
    width: 352px!important;
    transform: translateX(-56px);
}