$bgColor: #0E0E0E;
$goldGradient:linear-gradient(90deg, #F5C463 41.71%, #F5D18B 51.44%, #C69942 65.9%, #FBD281 76.38%, #F5C463 89.6%);
$blueGradient:linear-gradient(89.97deg, #63C1F5 0.77%, rgba(255, 255, 255, 0.9294117647) 35.8%, #3B7BB8 50.58%, rgba(255, 255, 255, 0.82) 55.85%, #63AFF5 99.37%);
$purpleGradient:linear-gradient(90deg, #9B63F5 41.71%, #B38BF5 51.44%, #7C42C6 65.9%, #BE81FB 76.38%, #8963F5 89.6%);
$btnTransition:all .3s ease;
$textPadding:0 10px;
$whiteColor:#fff;